<div *ngIf="orderEmpty()" class="container text-left">
  <h5>Order is empty!</h5>
  <p>Please add items!</p>
</div>


<app-orders
  *ngFor="let item of items;
  let i = index"
  (deleteItem)="onDeleteItem(i)"
></app-orders>

<div *ngIf="!orderEmpty()">
  <hr/>
  <p>Total price: {{getTotalSum()}} KGS</p>
</div>
