<div class="container mb-3 text-center">
  <h1 class="mt-5 text-uppercase">Make an Order</h1>
  <div class="row mt-5">
    <div class="col">
      <h3 class="m-3 text-uppercase">Order Details</h3>
      <app-order-block [items]="itemsOrder" (deleteItem)="deleteItemFromCart($event)"></app-order-block>
    </div>
    <div class="col">
      <h3 class="m-3 text-uppercase">Add items</h3>
      <app-items [items]="itemsArray" (addedItem)="addItemToCart($event)"></app-items>
    </div>
  </div>
</div>
