  <div class="card mb-2" (click)="onAddItem()">
    <div class="row no-gutters">
      <div class="col-sm-4">
        <img [src]="item.image" alt="{{ item.name }}" style="max-width: 100%; margin-top: 10px">
      </div>
      <div class="col-sm-8">
        <div class="card-body text-left">
          <p><strong>{{ item.name }}</strong></p>
          <span> Price: <strong>{{ item.price }}</strong> KGS</span>
        </div>
      </div>
    </div>
  </div>
